
{% extends 'base.html'%}
{% load  static %}

{% block seccion%}
    <section class="page-section cta">
      <div class="container">
        {% for context in context.get_category.all %}
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-innerv text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">{{context.published|date}}</span>
                <span class="section-heading-lower">{{context.title}}</span>
              </h2>
              <p class="mb-0">
                <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'static_templates/img/products-01.jpg' %}" alt="">
              </p>
              <p class="mb-0 mbt">
                {{context.content|linebreaks}}
              </p>
              <p class="mb-0 mbt">
                <span class="section-heading-under">Publicado por <em><b>{{context.autor}}</b></em> en <em>
                  {% for category in context.category.all %}
                  <a href="{% url 'category' category.id%}" class="link">{{category}}</a>{% if not forloop.last %}, {%endif%}  
                  {% endfor %}
                </em></span>
              </p>
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  
{% endblock %}